<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/book-store-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/book.css">
    <title>{{title}}</title>

</head>
<body>

    <div id="container">
        {{>header}}
        <div id="main-box">
            {{>sidebar}} 
            <div id="book">
            <div id="image"></div>
            <div id="main">
                <div id='bookTitle'></div>
                <div id='details'>
                    <div id="rating"></div>                        
                    <div id="type-and-lang"></div>
                    <div id="author"></div>
                </div>
                <div id='summary'></div>
            </div>
        </div>
        <div id="other-details">
            <div id="format"></div>
            <div id="language"></div>
            <div id="isbn"></div>
            <div id="publication-date"></div>
            <div id="publisher"></div>
            <div id="publication-location"></div>

        </div>
        <div id="buttons"></div>
        <div id="comments">
            
        </div>
        </div>
             
               
    </div>
    {{>footer}}
    <script type="module" src="/js/book.js"></script>
</body>
</html>