<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/book-store-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/book.css">
    <title>Book</title>

</head>
<body>
    <div id="container">
        <div id="result">

        </div>
    </div>

    <script type="module" src="/js/book.js"></script>
</body>
</html>