<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
</head>
<body>

<div id="container">
    {{>header}}
    <div id="main-box">
        {{>sidebar}}
        <div id="main">
            <div id="result">

        </div>
        <div id="buttons">
            <button id="buy">Buy</button>
            <button id="cancel">Cancel</button>
        </div>
        </div>
        
    </div>
    
    
    {{>footer}}
</div>    
    
 {{>scripts}}



 <script type="module" src='js/cart.js'></script>   
</body>
</html>