<div id="alert-modal" class="none">
    <div id="alert-container">
        <div class="modal__box" id="alert-box">              
        </div>
        <div class="modal__buttons">
            <button id="ok-button">OK</button>            
        </div> 
    </div> 
</div>