<div id="header-container">
    <div id="header" class="header">
                <div id="header-buttons">
                    
                    <div class="menu__icon__container" id="menu-icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    
                    
                </div>  
                <div id="sign" class="sign">
                    <div id="sign-in">Sign in</div>
                    <div id="sign-up">Sign up</div>
                </div>
                <div id="hello" class="none"> 
                </div>              
    </div>
    <div id="login-modal" class="none">
                <div class="modal__box login" id="signin-modal">              
                <form id="login-form">
                    <input type="text" id="login-username" placeholder="User Name">
                    <input type="password" id="login-password" placeholder="Password">
                    <button id="login">Login</button>
                    <div  id="admin-check">
                        <input id="admin" type="checkbox" name="admin" value="admin">
                        Login as admin
                    </div>
                </form>
                </div>
                <div class="modal__box signup" id="signup-modal">              
                    <form id="signup-form">
                        <input type="text" id="signup-username" placeholder="User Name">
                        <input type="password" id="signup-password" placeholder="Password">               
                        <input type="password" id="signup-confirm-password" placeholder="Confirm Password">               
                        <input type="email" id="signup-email" placeholder="E-Mail">
                        <button id="signup">Sign up</button>
                        <div id="error-message" class="none"></div>
                    </form>
                </div>      
    </div>
</div>



