<div id="sidebar" class="none">
    <div id="avatar-div" class="none">
        <img src="/img/anonymous-avatar.png" alt="avatar" id="avatar">
    </div>
    <div>
        <button id="home">
            <i class="fa fa-home"></i>
        </button>
    </div>
    <div>
        <button id="shopping-cart" class="">
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
    <div>
        <button id="add-book" class="">
            <i class="fa fa-book"></i>
        </button>
    </div>
    <div id="logout">
        <button id="power-off" class="">
            <i class="fa fa-power-off"></i>
        </button>
    </div>     
</div>



<div id="modal" class="none">
    <div>
        <div class="modal__box" id="modal-box">              
        </div>
        <div class="modal__buttons">
            <button id="save-button">Save</button>
            <button id="cancel-button">Cancel</button>
        </div> 
    </div> 
</div>