.admin__sidebar {
    flex-grow: 1;
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: auto;
}
.admin__sidebar>button{

    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 90%;
    
    
}

