#header-container{
    padding: 0;
    position: sticky;
    top:0px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}

#header{
    min-height: 60.8px;
    padding: 0;
    width: 100vw;
    background: rgb(75, 73, 77);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 
    z-index: 100;
    flex-wrap: wrap;

    
}

#login-form{
    display: grid;
    grid-template-areas:'input input input input button'
                        'login  login login login login';

}

#admin-check{
    grid-area: login;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#login-form>button{
    grid-area: button;
}

#signup-form>*{
    padding:0.5rem;
}

#login-form>*{
    padding:0.5rem;
}

#header>*{
    color: #7C5CBF;
    font-weight: 700;
    min-width:0;
    padding: 0.5rem;
}

#header-buttons{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
}

.sign{
    margin-right: 1rem;
    display: flexbox;
    color: #7C5CBF;
}

#hello{
    margin-right: 1rem;

}

.sign>*{
    color: #7C5CBF;
}

.sign>*:hover{
    cursor: pointer;
    color:wheat;
}

.menu__icon__container {
    align-self: center;
    display: inline-block;
    cursor: pointer;
    min-width: 0;
    max-width: 75px;
    max-height: 75px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  #7C5CBF;
    margin: 6px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 820px) {
    #login-form{
        min-width: 0%;
        display: flex;
        flex-direction: column;
        padding:0.5rem;
    }

    #login-form{
        min-width: 0%;
        display: flex;
        flex-direction: column;
        padding:0.5rem;
    }

    #login-form>button{
        grid-area: button;
    }
    
    .sign{
     min-width: 0%;
    }

    #shopping-cart{
        max-width: 15%;
    }

    #header-buttons{
        min-width: 30vw;
    }
    
    #header-buttons>button{
        min-width: 15vw;

    }
}