#main-box{
    flex-grow: 1;
    height: 100%;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(192, 192, 192, 0.5);
    display: grid;
    justify-content: end;
    grid-row: 2;
    z-index:10;
    padding: 0;
    
}

.modal__box{
    margin: 85px 0 0 0;
    height: 80px;
    display: flexbox;
    width: 100%;
    background: #abdb9f;
    padding: 0.125rem;
    overflow-y: auto;
    justify-content: center;    
}
.signup{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 720px) {
    .modal__box {     
        min-width: 100vw;
    }
    .login{
        height:160px;
    }
    .signup{
        height:180px;
    }
}

/* @media only screen and (max-width: 720px) {
    #book{
        display:grid;
        grid-template-rows: 1fr 3fr;
        justify-items: flex-start;
    }
    *{
        min-width:100%;
        margin: 0;
        height: 100%;
    }
    #main-box{
        max-width: 100vw; 
        min-height: 100vh;
        margin: 0; 
    }
    #header{
        
        max-height: 10vh;
        min-height: 10vh;
    }
    #image>img{
        min-width:0%;
        min-height: 15vh;
        max-height: 30vh;
        width:auto;
        max-width:70vw;
    }
    #other-details{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
  } */

